* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --grid-size: 500px;
    gap: 50px;
    background-color: black;
    color: #00FF00;
    font-family: "Roboto Mono", monospace;
}

.grid {
    width: var(--grid-size);
    height: var(--grid-size);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: calc(var(--grid-size) / 3);
    height: calc(var(--grid-size) / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    border: #00FF00 1px dashed;
}

.first-row {
    border-top: none;
}

.first-col {
    border-left: none;
}

.third-col {
    border-right: none;
}

.third-row {
    border-bottom: none;
}

.players {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 1.25rem;
}

.player-x,
.player-o {
    padding: 10px;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result {
    width: max-content;
    height: 20px;
    padding-top: 20px;
}

.active {
    border: #00FF00 1px dashed;
}

button {
    background-color: black;
    padding: 10px;
    color: #00FF00;
    font-size: 1rem;
    font-family: "Roboto Mono", monospace;
    border-radius: 5px;
    border: none;
    border-left: #00FF00 1px solid;
    border-right: #00FF00 1px solid;
}